@mixin primaryBtn(){
color: $light-orange;
    border: 1px solid $light-orange;
    display: inline-block;
    padding: 12px 44px;
    text-transform: capitalize;
    background: none;
    transition: .3s ease all;
    &:hover{
        background-color: $light-orange;
        color: #fff;
    }
}