@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Jost", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: flex;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
header {
  width: 100%;
  position: fixed;
  z-index: 999;
}
header .headerTop {
  width: 100%;
  padding: 8px 30px;
  background-color: #2e0000;
}
header .headerTop .row {
  justify-content: space-between;
}
header .headerTop .row .contact a {
  color: #fff;
  padding-right: 15px;
  margin-right: 15px;
  font-size: 15px;
}
header .headerTop .row .contact .tel {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header .headerTop .row .socialList {
  display: flex;
}
header .headerTop .row .socialList .socialItem a {
  padding-left: 21px;
  color: #fff;
  font-size: 16px;
}
header .headerTop .row .socialList .socialItem a i {
  transition: all 0.4s ease-out 0s;
}
header .headerTop .row .socialList .socialItem:hover a i {
  transform: rotateY(180deg);
}
header .headerBottom {
  width: 100%;
  padding-left: 28px;
  padding-right: 12px;
  background-color: #191514;
}
header .headerBottom .row {
  justify-content: space-between;
  align-items: center;
}
header .headerBottom .row .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .headerBottom .row .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
header .headerBottom .row .navBar {
  display: flex;
  align-items: center;
}
header .headerBottom .row .navBar .navList {
  display: flex;
}
header .headerBottom .row .navBar .navList .navItem {
  position: relative;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 0 25px;
}
header .headerBottom .row .navBar .navList .navItem a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
header .headerBottom .row .navBar .navList .navItem a::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: -30px;
  right: 5px;
  left: -5px;
  height: 3px;
  z-index: 1;
  background-color: #fff;
  transition: all 0.4s ease-out 0s;
}
header .headerBottom .row .navBar .navList .navItem .dropDownList {
  position: absolute;
  width: 170px;
  background: #e29c89;
  left: 0;
  top: 55px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  transition: all 0.4s ease-out 0s;
}
header .headerBottom .row .navBar .navList .navItem .dropDownList .dropItem a {
  padding: 6px 10px;
  color: #fff;
  transition: all 0.4s ease-out 0s;
}
header .headerBottom .row .navBar .navList .navItem .dropDownList .dropItem a::after {
  display: none;
}
header .headerBottom .row .navBar .navList .navItem .dropDownList .dropItem a:hover {
  transform: translateX(5px);
}
header .headerBottom .row .navBar .navList .navItem:hover .dropDownList {
  visibility: visible;
  opacity: 1;
}
header .headerBottom .row .navBar .navList .navItem:hover a::after {
  left: 0;
  right: auto;
  width: 100%;
}
header .headerBottom .row .navBar .headerBtn {
  padding: 29px 43px;
  background: #e29c89;
  color: #fff;
  font-size: 18px;
  position: relative;
  right: -12px;
  top: 0;
}
header .headerBottom .row .top-nav {
  display: none;
}
header .headerBottom .row .top-nav .menu li {
  margin: 0 16px;
  overflow: hidden;
}
header .headerBottom .row .top-nav #menu-toggle {
  display: none;
}
header .headerBottom .row .top-nav .menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .headerBottom .row .top-nav .menu-button-container .menu-button,
header .headerBottom .row .top-nav .menu-button-container .menu-button::before,
header .headerBottom .row .top-nav .menu-button-container .menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
header .headerBottom .row .top-nav .menu-button-container .menu-button::before {
  content: "";
  margin-top: -8px;
}
header .headerBottom .row .top-nav .menu-button-container .menu-button::after {
  content: "";
  margin-top: 8px;
}
header .headerBottom .row .top-nav #menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
header .headerBottom .row .top-nav #menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
header .headerBottom .row .top-nav #menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 992px) {
  header .headerTop {
    display: none;
  }
  header .headerBottom {
    padding: 20px 40px;
  }
  header .headerBottom .row .navBar {
    display: none;
  }
  header .headerBottom .row .top-nav {
    display: block;
  }
  header .headerBottom .row .top-nav #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .headerBottom .row .top-nav #menu-toggle:checked ~ .menu li {
    height: 40px;
    padding: 8px 40px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  header .headerBottom .row .top-nav .menu-button-container {
    display: flex;
  }
  header .headerBottom .row .top-nav .menu {
    position: absolute;
    top: 0;
    margin-top: 74px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  header .headerBottom .row .top-nav .menu li {
    display: flex;
    margin: 0;
    padding: 8px;
    width: 100%;
    color: white;
    background-color: #222;
  }
  header .headerBottom .row .top-nav .menu li a {
    color: #fff;
  }
  header .headerBottom .row .top-nav .menu li::not(:last-child) {
    border-bottom: 1px solid #444;
  }
  header .headerBottom .row .top-nav .menu .active {
    color: #e29c89;
  }
}
@media (max-width: 470px) {
  header .headerTop {
    display: none;
  }
  header .headerBottom {
    padding: 20px 15px;
  }
  header .headerBottom .logo img {
    width: 150px;
  }
  header .headerBottom .row .top-nav .menu {
    margin-top: 68px;
  }
}
.footer {
  width: 100%;
  padding: 99px 0;
  background-color: #191514;
}
.footer .container .row {
  flex-wrap: wrap;
}
.footer .container .row .logoSide {
  width: 25%;
  padding: 0 12px;
}
.footer .container .row .logoSide .footerLogo {
  display: inline-block;
  margin-bottom: 25px;
}
.footer .container .row .logoSide .footerLogo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer .container .row .logoSide .logoInfo {
  color: #fff;
  font-weight: 300;
  margin-bottom: 22px;
}
.footer .container .row .logoSide .footerSocialList {
  display: flex;
  gap: 18px;
}
.footer .container .row .logoSide .footerSocialList .footerSocialItem a {
  color: #656565;
  font-size: 17px;
  position: relative;
  top: 0;
  transition: all 0.4s ease-out 0s;
}
.footer .container .row .logoSide .footerSocialList .footerSocialItem a:hover {
  color: #e29c89;
  top: -3px;
}
.footer .container .row .navigationSide {
  width: 25%;
  padding: 0 12px 0 100px;
}
.footer .container .row .navigationSide .navTitle {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 22px;
  margin-bottom: 29px;
  font-weight: 400;
}
.footer .container .row .navigationSide .footerNavBar .footerNavList .footerNavItem {
  margin-bottom: 6px;
}
.footer .container .row .navigationSide .footerNavBar .footerNavList .footerNavItem a {
  color: #fff;
  font-weight: 300;
  transform: translateX(0);
  display: block;
  transition: all 0.3s ease-out 0s;
}
.footer .container .row .navigationSide .footerNavBar .footerNavList .footerNavItem a:hover {
  color: #fff;
  text-decoration: underline;
  transform: translateX(3px);
}
.footer .container .row .contactSide {
  width: 25%;
  padding: 0 12px;
}
.footer .container .row .contactSide .contactTitle {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 22px;
  margin-bottom: 29px;
  font-weight: 400;
}
.footer .container .row .contactSide .contactList .contactItem {
  margin-bottom: 6px;
}
.footer .container .row .contactSide .contactList .contactItem a {
  color: #fff;
  font-weight: 300;
  transform: translateX(0);
  display: block;
  transition: all 0.3s ease-out 0s;
}
.footer .container .row .contactSide .contactList .contactItem a:hover {
  text-decoration: underline;
  transform: translateX(3px);
}
.footer .container .row .contactSide .contactList .contactItem .different {
  color: #e29c89;
}
.footer .container .row .formSide {
  width: 25%;
  padding: 0 12px;
}
.footer .container .row .formSide .formTitle {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 22px;
  margin-bottom: 29px;
  font-weight: 200;
}
.footer .container .row .formSide .formText {
  color: #fff;
  font-weight: 300;
  margin-bottom: 15px;
}
.footer .container .row .formSide form input {
  width: 100%;
  height: 47px;
  padding: 10px 17px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  background-color: transparent;
  font-size: 17px;
  outline: none;
}
.footer .container .row .formSide form button {
  font-weight: 500;
  font-size: 15px;
  padding: 17px 22px;
  background: #e29c89;
  line-height: 1;
  width: 100%;
  display: block;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  outline: none;
}
.footer .container .row .formSide form button:hover {
  color: #e29c89;
  background-color: #fff;
}

@media (max-width: 992px) {
  .footer .container .row .logoSide {
    width: 50%;
  }
  .footer .container .row .navigationSide {
    width: 50%;
  }
  .footer .container .row .contactSide {
    width: 50%;
    padding-top: 20px;
  }
  .footer .container .row .formSide {
    padding-top: 20px;
    padding-left: 100px;
    width: 50%;
  }
}
@media (max-width: 575px) {
  .footer .container .row .logoSide {
    width: 100%;
  }
  .footer .container .row .navigationSide {
    width: 100%;
    padding-left: 12px;
    padding-top: 20px;
  }
  .footer .container .row .contactSide {
    width: 100%;
  }
  .footer .container .row .formSide {
    padding-left: 12px;
    width: 100%;
  }
}
.map {
  width: 100%;
  padding: 100px 0;
}
.map .container .mapLink {
  width: 100%;
}
.map .container .mapLink iframe {
  width: 100%;
}

@media (max-width: 768px) {
  .map {
    padding: 50px 0;
  }
  .map .container .mapLink {
    width: 100%;
  }
  .map .container .mapLink iframe {
    width: 100%;
  }
}
.contacts {
  width: 100%;
  padding-bottom: 100px;
}
.contacts .container .formTitle {
  font-family: "Libre Baskerville", serif;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contacts .container .row {
  flex-wrap: wrap;
}
.contacts .container .row .formSide {
  max-width: 66%;
}
.contacts .container .row .formSide form textarea {
  max-width: 100%;
  resize: none;
  border: 1px solid #e5e6e9;
  margin-bottom: 25px;
  padding: 6px 12px 6px 18px;
  color: #212529;
  outline: none;
}
.contacts .container .row .formSide form textarea::-moz-placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form textarea::placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form .nameAndEmail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex: 0 0 auto;
}
.contacts .container .row .formSide form .nameAndEmail input {
  width: 49%;
  padding: 14px 12px 14px 18px;
  border: 1px solid #e5e6e9;
  font-size: 13px;
  outline: none;
}
.contacts .container .row .formSide form .nameAndEmail input::-moz-placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form .nameAndEmail input::placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form input {
  width: 100%;
  padding: 14px 12px 14px 18px;
  border: 1px solid #e5e6e9;
  font-size: 13px;
  margin: 25px 0;
  outline: none;
}
.contacts .container .row .formSide form input::-moz-placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form input::placeholder {
  color: #bebfc2;
}
.contacts .container .row .formSide form button {
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  color: #e29c89;
  border: 1px solid #e29c89;
  padding: 18px 44px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s ease-in-out all;
}
.contacts .container .row .formSide form button:hover {
  background-color: #e29c89;
  color: #fff;
}
.contacts .container .row .rightSide {
  max-width: 34%;
  margin-left: 110px;
}
.contacts .container .row .rightSide .adress {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.contacts .container .row .rightSide .adress .adressIcon i {
  color: #bebfc2;
  font-size: 27px;
}
.contacts .container .row .rightSide .adress .adressInfo a {
  font-size: 14px;
  font-family: "Libre Baskerville", serif;
  color: #2a2a2a;
}
.contacts .container .row .rightSide .adress .adressInfo p {
  color: #8a8a8a;
}

@media (max-width: 1200px) {
  .contacts .container .row .rightSide {
    margin-left: 50px;
  }
}
@media (max-width: 992px) {
  .contacts .container .row {
    flex-direction: column;
  }
  .contacts .container .row .formSide {
    max-width: 100%;
  }
  .contacts .container .row .rightSide {
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
}
@media (max-width: 576px) {
  .contacts {
    padding-bottom: 50px;
  }
  .contacts .container .row .formSide form textarea {
    margin: 0 0 15px;
  }
  .contacts .container .row .formSide form .nameAndEmail {
    flex-direction: column;
  }
  .contacts .container .row .formSide form .nameAndEmail input {
    width: 100%;
    margin: 15px 0;
  }
  .contacts .container .row .formSide form input {
    margin: 15px 0;
  }
}
main .hero {
  background-image: url(../image/hero\ bg.webp);
  width: 100%;
  min-height: 735px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #b86e5a 0%, rgba(98, 63, 53, 0.49) 26%, rgba(96, 59, 51, 0.47) 27%, rgba(88, 55, 48, 0.43) 29%, rgba(82, 52, 45, 0.41) 30%, rgba(79, 53, 45, 0.39) 31%, rgba(75, 50, 42, 0.37) 32%, rgba(72, 49, 41, 0.35) 33%, rgba(72, 47, 40, 0.33) 34%, rgba(66, 43, 40, 0.31) 35%, rgba(65, 43, 36, 0.29) 36%, rgba(62, 43, 35, 0.27) 37%, rgba(59, 38, 33, 0.25) 38%, rgba(54, 36, 31, 0.23) 39%, rgba(49, 34, 29, 0.21) 40%, rgba(44, 33, 28, 0.19) 41%, rgba(44, 31, 31, 0.17) 42%, rgba(40, 27, 27, 0.15) 43%, rgba(41, 25, 25, 0.13) 44%, rgba(29, 29, 20, 0.11) 45%, rgba(36, 24, 24, 0.09) 46%, rgba(30, 15, 15, 0.07) 47%, rgba(18, 18, 18, 0.05) 48%, rgba(32, 16, 16, 0.06) 49%, rgba(27, 27, 27, 0.07) 50%, rgba(20, 20, 20, 0.09) 52%, rgba(29, 20, 20, 0.1) 53%, rgba(26, 17, 17, 0.11) 54%, rgba(24, 24, 24, 0.12) 55%, rgba(28, 21, 21, 0.14) 57%, rgba(24, 24, 18, 0.16) 59%, rgba(28, 22, 22, 0.17) 60%, rgba(23, 23, 18, 0.21) 64%, rgba(26, 22, 22, 0.22) 65%, rgba(27, 23, 19, 0.25) 68%, rgba(26, 22, 18, 0.26) 69%, rgba(25, 22, 22, 0.27) 70%, rgba(26, 19, 19, 0.29) 72%, rgba(26, 23, 19, 0.3) 73%, rgba(25, 22, 22, 0.31) 74%, rgba(24, 21, 19, 0.35) 78%, rgba(26, 21, 21, 0.36) 79%, rgba(24, 22, 19, 0.39) 82%, rgba(26, 21, 21, 0.41) 84%, rgba(25, 22, 20, 0.6) 100%);
}
main .hero .container {
  height: 100%;
}
main .hero .container .title {
  width: 100%;
  height: 100%;
  padding: 200px 200px;
}
main .hero .container .title .heroTitle {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 55px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 7px;
  text-align: center;
}
main .hero .container form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
main .hero .container form .dateCheked {
  width: 48%;
  display: flex;
  justify-content: space-between;
}
main .hero .container form .dateCheked .checkIn {
  position: relative;
  width: 49%;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
}
main .hero .container form .dateCheked .checkIn p {
  padding-bottom: 15px;
}
main .hero .container form .dateCheked .checkIn i {
  font-size: 20px;
  color: #fff;
  padding-right: 20px;
}
main .hero .container form .dateCheked .checkIn .date {
  width: 20px;
  opacity: 0;
  position: absolute;
  left: 0;
  height: 20px;
}
main .hero .container form .btnSelects {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
main .hero .container form .btnSelects .selectBtn {
  width: 66%;
  display: flex;
  gap: 13px;
}
main .hero .container form .btnSelects .selectBtn .heroSelect {
  width: 49%;
  height: 50px;
  padding: 0 60px;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 17px;
  color: #fff;
}
main .hero .container form .btnSelects .heroBtn {
  width: 32%;
  display: inline-block;
  height: 50px;
}
main .hero .container form .btnSelects .heroBtn a {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px 65px 20px 65px;
  color: #232c26;
  font-size: 20px;
  transition: 0.4s ease-in-out all;
}
main .hero .container form .btnSelects .heroBtn a:hover {
  background-color: #e29c89;
  color: #fff;
}
@media (max-width: 1200px) {
  main .hero .container form {
    flex-direction: column;
  }
  main .hero .container form .dateCheked {
    width: 100%;
    margin-bottom: 20px;
  }
  main .hero .container form .btnSelects {
    width: 100%;
  }
}
@media (max-width: 1025px) {
  main .hero .container .title {
    padding: 200px 100px;
  }
  main .hero .container .title .heroTitle {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  main .hero .container .title {
    padding: 200px 50px;
  }
  main .hero .container .title .heroTitle {
    font-size: 45px;
  }
  main .hero .container form {
    padding-bottom: 25px;
  }
  main .hero .container form .btnSelects {
    flex-direction: column;
  }
  main .hero .container form .btnSelects .selectBtn {
    width: 100%;
  }
  main .hero .container form .btnSelects .heroBtn {
    width: 100%;
    margin-top: 20px;
    text-align: start;
  }
  main .hero .container form .btnSelects .heroBtn a {
    width: 49%;
  }
}
@media (max-width: 576px) {
  main .hero .container .title {
    padding: 400px 0 200px;
  }
  main .hero .container .title .heroTitle {
    font-size: 30px;
  }
  main .hero .container form {
    padding: 200px 0;
  }
  main .hero .container form .btnSelects .selectBtn {
    width: 100%;
    flex-direction: column;
  }
  main .hero .container form .btnSelects .selectBtn .heroSelect {
    width: 100%;
  }
  main .hero .container form .btnSelects .heroBtn {
    width: 100%;
  }
  main .hero .container form .btnSelects .heroBtn a {
    width: 100%;
  }
}
main .services {
  width: 100%;
  padding: 120px 0;
}
main .services .container .row {
  flex-wrap: wrap;
}
main .services .container .row .servicesLeft {
  max-width: 41.6%;
  flex: 0 0 41.6%;
  padding: 0 12px;
}
main .services .container .row .servicesLeft img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translateY(5%);
  vertical-align: middle;
}
main .services .container .row .servicesMiddle {
  max-width: 33.3%;
  flex: 0 0 33.3%;
  padding: 0 12px;
  transform: translateY(13%);
}
main .services .container .row .servicesMiddle .servicesTitle {
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12px;
  display: block;
  color: #191514;
}
main .services .container .row .servicesMiddle .servicesInfo {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
  color: #656565;
  margin-bottom: 30px;
}
main .services .container .row .servicesMiddle a {
  color: #e29c89;
  border: 1px solid #e29c89;
  display: inline-block;
  padding: 12px 44px;
  text-transform: capitalize;
  background: none;
  transition: 0.3s ease all;
}
main .services .container .row .servicesMiddle a:hover {
  background-color: #e29c89;
  color: #fff;
}
main .services .container .row .servicesRight {
  max-width: 25%;
  flex: 0 0 25%;
  padding: 0 12px;
}
main .services .container .row .servicesRight img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1400px) {
  main .services .container .row .servicesMiddle .servicesTitle {
    font-size: 36px;
  }
}
@media (max-width: 1200px) {
  main .services .container .row .servicesLeft {
    max-width: 50%;
    flex: 0 0 50%;
  }
  main .services .container .row .servicesMiddle {
    max-width: 50%;
    flex: 0 0 50%;
  }
  main .services .container .row .servicesRight {
    display: none;
  }
}
@media (max-width: 992px) {
  main .services {
    padding: 80px 0;
  }
  main .services .container .row .servicesLeft {
    max-width: 100%;
    flex: 0 0 100%;
    padding-bottom: 40px;
  }
  main .services .container .row .servicesMiddle {
    max-width: 100%;
    flex: 0 0 100%;
  }
  main .services .container .row .servicesMiddle .servicesTitle {
    font-size: 30px;
  }
}
@media (max-width: 426px) {
  main .services {
    padding: 60px 0;
  }
  main .services .container .row .servicesMiddle {
    transform: translateY(5%);
  }
  main .services .container .row .servicesMiddle .servicesTitle {
    font-size: 26px;
  }
  main .services .container .row .servicesMiddle .servicesInfo {
    font-size: 16px;
  }
}
main .rooms {
  width: 100%;
  background: #f9f8f8;
  padding: 110px 0 0 0;
}
main .rooms .container .row {
  justify-content: space-between;
}
main .rooms .container .row .sectionTitle {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 30px;
}
main .rooms .container .row .sectionTitle h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12px;
}
main .rooms .container .row .sectionTitle .sectionInfo {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
main .rooms .container .row .sectionBtn {
  display: flex;
  align-items: center;
}
main .rooms .container .row .sectionBtn a {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.168627451);
  border-radius: 50px;
  transition: 0.3s ease all;
  margin-right: 13px;
}
main .rooms .container .row .sectionBtn a i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.699);
  padding: 15px 27px;
}
main .rooms .container .row .sectionBtn a:hover {
  border-color: black;
}
main .rooms .container .roomCardsBox {
  width: 100%;
}
main .rooms .container .roomCardsBox .row {
  gap: 20px;
}
main .rooms .container .roomCardsBox .row .card {
  width: 33%;
  position: relative;
}
main .rooms .container .roomCardsBox .row .card img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .rooms .container .roomCardsBox .row .card .cardInfo {
  position: absolute;
  top: 60%;
  left: 4%;
  color: #fff;
  font-weight: 300;
}
main .rooms .container .roomCardsBox .row .card .cardInfo a {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease all;
}
main .rooms .container .roomCardsBox .row .card .cardInfo a:hover {
  color: #e29c89;
}
main .rooms .container .roomCardsBox .row .card .cardInfo p {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
}
main .rooms .container .roomCardsBox .row .card .cardInfo span .price {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-left: 12px;
}
@media (max-width: 1200px) {
  main .rooms {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  main .rooms .container {
    width: 100%;
  }
  main .rooms .container .row .sectionTitle {
    width: 100%;
  }
  main .rooms .container .row .sectionTitle h2 {
    font-size: 30px;
  }
  main .rooms .container .roomCardsBox .row .card {
    width: 50%;
  }
  main .rooms .container .roomCardsBox .row .card:nth-child(1) {
    display: none;
  }
  main .rooms .container .roomCardsBox .row .card .cardInfo a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  main .rooms .container .row .sectionBtn {
    display: none;
  }
  main .rooms .container .roomCardsBox .row .card {
    width: 100%;
  }
  main .rooms .container .roomCardsBox .row .card:nth-child(2) {
    display: none;
  }
}
@media (max-width: 425px) {
  main .rooms .container .row .sectionTitle h2 {
    font-size: 26px;
  }
  main .rooms .container .row .sectionTitle .sectionInfo {
    font-size: 16px;
  }
}
@media (max-width: 376px) {
  main .rooms .container .roomCardsBox .row .card .cardInfo {
    top: 45%;
  }
  main .rooms .container .roomCardsBox .row .card .cardInfo a {
    font-size: 16px;
  }
  main .rooms .container .roomCardsBox .row .card .cardInfo p {
    font-size: 14px;
  }
  main .rooms .container .roomCardsBox .row .card .cardInfo span {
    font-size: 14px;
  }
  main .rooms .container .roomCardsBox .row .card .cardInfo span .price {
    font-size: 18px;
  }
}
main .hotel {
  width: 100%;
  padding: 120px 0;
  position: relative;
}
main .hotel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0px;
  z-index: -1;
  background: #f9f8f8;
}
main .hotel .container .sectionTitle {
  width: 100%;
  text-align: center;
  margin: 50px auto;
}
main .hotel .container .sectionTitle h2 {
  font-size: 42px;
  display: block;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 12px;
}
main .hotel .container .sectionTitle .sectionLink a {
  transition: all 0.3s ease-out 0s;
  color: #191514;
  font-size: 18px;
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
  letter-spacing: 0.5px;
}
main .hotel .container .sectionTitle .sectionLink:hover {
  transform: scale(1.01);
}
main .hotel .container .sectionTitle .sectionLink:hover a {
  letter-spacing: 0.6px;
}
main .hotel .container .row {
  padding: 60px 100px 0;
}
main .hotel .container .row .hotelImg {
  width: 50%;
}
main .hotel .container .row .hotelImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hotel .container .row .hotelInfo {
  width: 50%;
  padding: 60px 31px;
  background: #191514;
  text-align: center;
}
main .hotel .container .row .hotelInfo .hotelTitle .titleContent {
  font-family: "Libre Baskerville", serif;
  color: white;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 30px;
  font-weight: 400;
}
main .hotel .container .row .hotelInfo .hotelsInfo {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  margin: 40px 0;
}
main .hotel .container .row .hotelInfo .hotelBtn {
  color: #e29c89;
  border: 1px solid #e29c89;
  display: inline-block;
  padding: 12px 44px;
  text-transform: capitalize;
  background: none;
  transition: 0.3s ease all;
}
main .hotel .container .row .hotelInfo .hotelBtn:hover {
  background-color: #e29c89;
  color: #fff;
}
@media (max-width: 1200px) {
  main .hotel {
    padding: 60px 0;
  }
  main .hotel .container .sectionTitle {
    text-align: center;
  }
  main .hotel .container .row {
    padding: 0;
  }
  main .hotel .container .row .hotelImg {
    width: 50%;
  }
  main .hotel .container .row .hotelInfo {
    width: 50%;
    padding: 60px 31px;
  }
  main .hotel .container .row .hotelInfo .hotelsInfo {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  main .hotel .container .row .hotelImg {
    width: 50%;
  }
  main .hotel .container .row .hotelInfo {
    width: 50%;
    padding: 35px 22px;
  }
  main .hotel .container .row .hotelInfo .hotelTitle .titleContent {
    font-size: 28px;
  }
  main .hotel .container .row .hotelInfo .hotelsInfo {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  main .hotel .container .row {
    flex-direction: column;
  }
  main .hotel .container .row .hotelImg {
    width: 100%;
  }
  main .hotel .container .row .hotelImg img {
    vertical-align: middle;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .hotel .container .row .hotelInfo {
    width: 100%;
    padding: 68px 40px;
  }
  main .hotel .container .row .hotelInfo .hotelTitle .titleContent {
    font-size: 42px;
  }
  main .hotel .container .row .hotelInfo .hotelTitle .hotelsInfo {
    font-size: 18px;
  }
}
@media (max-width: 426px) {
  main .hotel {
    padding: 20px 0;
  }
  main .hotel .container .sectionTitle h2 {
    font-size: 24px;
  }
  main .hotel .container .row .hotelInfo .hotelTitle .titleContent {
    font-size: 30px;
  }
}
main .video {
  width: 100%;
}
main .video .videoContent {
  width: 100%;
  padding: 0 50px;
  position: relative;
}
main .video .videoContent .videoImg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}
main .video .iconBorder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 45%;
  right: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-out 0s;
}
main .video .iconBorder:after {
  position: absolute;
  border: 100px solid rgba(25, 21, 20, 0.2);
  content: "";
  border-radius: 50%;
  left: -42px;
  top: -42px;
  right: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0);
}
main .video .iconBorder .borderInIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .video .iconBorder .borderInIcon .fa-play {
  color: #fff;
  font-size: 40px;
}
main .video .iconBorder:hover .fa-play {
  color: #e29c89;
  transform: scale(0.9);
}
@media (max-width: 1025px) {
  main .video .iconBorder {
    transform: translateY(-45px);
    background-color: rgba(25, 21, 20, 0.418);
  }
  main .video .iconBorder:after {
    display: none;
  }
}
@media (max-width: 900px) {
  main .video .videoContent .iconBorder {
    width: 80px;
    height: 80px;
  }
  main .video .videoContent .iconBorder .borderInIcon {
    width: 40px;
    height: 40px;
  }
  main .video .videoContent .iconBorder .borderInIcon .fa-play {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  main .video .videoContent {
    padding: 0;
  }
  main .video .videoContent .videoImg {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .video .videoContent .iconBorder {
    width: 60px;
    height: 60px;
    transform: translateY(-30px);
  }
  main .video .videoContent .iconBorder .borderInIcon {
    width: 30px;
    height: 30px;
  }
  main .video .videoContent .iconBorder .borderInIcon .fa-play {
    font-size: 15px;
  }
}
main .meal {
  width: 100%;
  padding: 120px 0;
}
main .meal .container .mealTitle {
  display: flex;
  justify-content: center;
  font-family: "Libre Baskerville", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12px;
}
main .meal .container .mealCardBox {
  width: 100%;
  padding-top: 30px;
}
main .meal .container .mealCardBox .row {
  flex-wrap: wrap;
}
main .meal .container .mealCardBox .row .mealCard {
  max-width: 33%;
  padding: 0 12px;
}
main .meal .container .mealCardBox .row .mealCard .mealImage {
  width: 100%;
  position: relative;
  transition: all 0.4s ease-out 0s;
}
main .meal .container .mealCardBox .row .mealCard .mealImage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 98.5%;
  background: rgba(25, 21, 20, 0.3);
  z-index: 0;
}
main .meal .container .mealCardBox .row .mealCard .mealImage img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealName {
  width: 100%;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease-out 0s;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealName a {
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  font-family: "Libre Baskerville", serif;
  transition: all 0.4s ease-out 0s;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealName a:hover {
  color: #e29c89;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealContent {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 25px;
  padding: 0 15px;
  text-align: center;
  z-index: 1;
  transition: all 0.4s ease-out 0s;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealContent .contentName {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 27px;
  font-weight: 400;
  transition: all 0.4s ease-out 0s;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealContent .contentName:hover {
  color: #e29c89;
}
main .meal .container .mealCardBox .row .mealCard .mealImage .mealContent .contentInfo {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}
main .meal .container .mealCardBox .row .mealCard .mealImage:hover .mealName {
  opacity: 0;
  visibility: hidden;
}
main .meal .container .mealCardBox .row .mealCard .mealImage:hover .mealContent {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1025px) {
  main .meal .container .mealCardBox .row .mealCard .mealImage .mealName a {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  main .meal {
    padding: 80px 0;
  }
  main .meal .container .mealTitle {
    font-size: 31px;
  }
  main .meal .container .mealCardBox .row .mealCard {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  main .meal .container .mealTitle {
    font-size: 22px;
  }
  main .meal .container .mealCardBox .row .mealCard {
    max-width: 100%;
  }
}
main .feedback {
  width: 100%;
  background: #b86e5a;
  padding: 60px 40px;
}
main .feedback .feedbackCardBox {
  width: 100%;
}
main .feedback .feedbackCardBox .row {
  gap: 80px;
}
main .feedback .feedbackCardBox .row .feedbackCard {
  width: 50%;
  display: flex;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedIcon {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedIcon i {
  border: #fff solid 1px;
  border-radius: 50%;
  padding: 15px;
}
main .feedback .feedbackCardBox .row .feedbackCard .iconLeft {
  margin-right: 30px;
}
main .feedback .feedbackCardBox .row .feedbackCard .iconRight {
  margin-left: 30px;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedContent {
  color: #fff;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedContent .feedTitle {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 37px;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedContent .feedInfo {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 37px;
}
main .feedback .feedbackCardBox .row .feedbackCard .feedContent .feedName {
  font-weight: 300;
  font-size: 20px;
}
@media (max-width: 698px) {
  main .feedback .feedbackCardBox .row .feedbackCard .feedContent .feedTitle {
    font-size: 28px;
  }
  main .feedback .feedbackCardBox .row .feedbackCard .feedContent .feedInfo {
    font-size: 20px;
  }
}
@media (max-width: 680px) {
  main .feedback .feedbackCardBox .row .feedCardTwo {
    display: none;
  }
  main .feedback .feedbackCardBox .row .feedbackCard {
    width: 100%;
  }
  main .feedback .feedbackCardBox .row .feedbackCard .feedIcon {
    display: none;
  }
}

.heroTwo {
  width: 100%;
  height: 478px;
  background-image: url(../image/hero\ bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 0;
}
.heroTwo::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: linear-gradient(to bottom, #b86e5a 0%, rgba(98, 63, 53, 0.49) 26%, rgba(96, 59, 51, 0.47) 27%, rgba(88, 55, 48, 0.43) 29%, rgba(82, 52, 45, 0.41) 30%, rgba(79, 53, 45, 0.39) 31%, rgba(75, 50, 42, 0.37) 32%, rgba(72, 49, 41, 0.35) 33%, rgba(72, 47, 40, 0.33) 34%, rgba(66, 43, 40, 0.31) 35%, rgba(65, 43, 36, 0.29) 36%, rgba(62, 43, 35, 0.27) 37%, rgba(59, 38, 33, 0.25) 38%, rgba(54, 36, 31, 0.23) 39%, rgba(49, 34, 29, 0.21) 40%, rgba(44, 33, 28, 0.19) 41%, rgba(44, 31, 31, 0.17) 42%, rgba(40, 27, 27, 0.15) 43%, rgba(41, 25, 25, 0.13) 44%, rgba(29, 29, 20, 0.11) 45%, rgba(36, 24, 24, 0.09) 46%, rgba(30, 15, 15, 0.07) 47%, rgba(18, 18, 18, 0.05) 48%, rgba(32, 16, 16, 0.06) 49%, rgba(27, 27, 27, 0.07) 50%, rgba(20, 20, 20, 0.09) 52%, rgba(29, 20, 20, 0.1) 53%, rgba(26, 17, 17, 0.11) 54%, rgba(24, 24, 24, 0.12) 55%, rgba(28, 21, 21, 0.14) 57%, rgba(24, 24, 18, 0.16) 59%, rgba(28, 22, 22, 0.17) 60%, rgba(23, 23, 18, 0.21) 64%, rgba(26, 22, 22, 0.22) 65%, rgba(27, 23, 19, 0.25) 68%, rgba(26, 22, 18, 0.26) 69%, rgba(25, 22, 22, 0.27) 70%, rgba(26, 19, 19, 0.29) 72%, rgba(26, 23, 19, 0.3) 73%, rgba(25, 22, 22, 0.31) 74%, rgba(24, 21, 19, 0.35) 78%, rgba(26, 21, 21, 0.36) 79%, rgba(24, 22, 19, 0.39) 82%, rgba(26, 21, 21, 0.41) 84%, rgba(25, 22, 20, 0.6) 100%);
}
.heroTwo .container .title {
  width: 100%;
  height: 100%;
  padding: 250px 0px 200px;
}
.heroTwo .container .title h1 {
  width: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 55px;
  font-weight: 400;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 7px;
  text-align: center;
}

@media (max-width: 768px) {
  .heroTwo .container .title h1 {
    font-size: 40px;
  }
}
.room {
  width: 100%;
  background: #f9f8f8;
  padding: 110px 0 120px;
}
.room .container .row {
  justify-content: space-between;
}
.room .container .row .sectionTitle {
  width: 100%;
  padding: 0 12px;
  margin-bottom: 30px;
}
.room .container .row .sectionTitle h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 42px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 12px;
}
.room .container .row .sectionTitle .sectionInfo {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.room .container .roomCardsBox {
  width: 100%;
}
.room .container .roomCardsBox .row {
  flex-wrap: wrap;
}
.room .container .roomCardsBox .row .card {
  max-width: 33.333%;
  padding: 10px 10px;
  position: relative;
}
.room .container .roomCardsBox .row .card img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.room .container .roomCardsBox .row .card .cardInfo {
  position: absolute;
  top: 60%;
  left: 4%;
  color: #fff;
  font-weight: 300;
}
.room .container .roomCardsBox .row .card .cardInfo a {
  font-family: "Libre Baskerville", serif;
  color: #fff;
  font-size: 32px;
  transition: 0.3s ease all;
}
.room .container .roomCardsBox .row .card .cardInfo a:hover {
  color: #e29c89;
}
.room .container .roomCardsBox .row .card .cardInfo p {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
}
.room .container .roomCardsBox .row .card .cardInfo span .price {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-left: 12px;
}

@media (max-width: 1200px) {
  .room {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .room .container {
    width: 100%;
  }
  .room .container .roomCardsBox .row .card .cardInfo {
    top: 50%;
  }
  .room .container .roomCardsBox .row .card .cardInfo a {
    font-size: 27px;
  }
}
@media (max-width: 992px) {
  .room .container .row .sectionTitle h2 {
    font-size: 35px;
  }
  .room .container .roomCardsBox .row {
    justify-content: center;
  }
  .room .container .roomCardsBox .row .card {
    max-width: 100%;
  }
  .room .container .roomCardsBox .row .card .cardInfo {
    top: 65%;
  }
}
@media (max-width: 470px) {
  .room {
    padding: 60px 0;
  }
  .room .container {
    padding: 0;
  }
  .room .container .row .sectionTitle h2 {
    font-size: 30px;
  }
  .room .container .row .sectionTitle .sectionInfo {
    font-size: 16px;
  }
  .room .container .roomCardsBox .row .card .cardInfo {
    top: 50%;
    padding: 10px;
  }
  .room .container .roomCardsBox .row .card .cardInfo a {
    font-size: 20px;
  }
  .room .container .roomCardsBox .row .card .cardInfo p {
    font-size: 15px;
  }
  .room .container .roomCardsBox .row .card .cardInfo span {
    font-size: 15px;
  }
  .room .container .roomCardsBox .row .card .cardInfo span .price {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */