header {
  width: 100%;
  position: fixed;
  z-index: 999;
  .headerTop {
    width: 100%;
    padding: 8px 30px;
    background-color: $dark-brown;
    .row {
      justify-content: space-between;
      .contact {
        a {
          color: #fff;
          padding-right: 15px;
          margin-right: 15px;
          font-size: 15px;
        }
        .tel {
          border-right: 1px solid rgba(255, 255, 255, 0.2);
        }
      }
      .socialList {
        display: flex;
        .socialItem {
          a {
            padding-left: 21px;
            color: #fff;
            font-size: 16px;

            i {
              transition: all 0.4s ease-out 0s;
            }
          }
          &:hover {
            a {
              i {
                transform: rotateY(180deg);
              }
            }
          }
        }
      }
    }
  }
  .headerBottom {
    width: 100%;
    padding-left: 28px;
    padding-right: 12px;
    background-color: $black;
    .row {
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          object-fit: contain;
        }
      }
      .navBar {
        display: flex;
        align-items: center;
        .navList {
          display: flex;
          .navItem {
            position: relative;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            margin: 0 25px;
            a {
              display: inline-block;
              color: #fff;
              font-weight: 400;
              font-size: 18px;
              &::after {
                content: "";
                position: absolute;
                width: 0;
                bottom: -30px;
                right: 5px;
                left: -5px;
                height: 3px;
                z-index: 1;
                background-color: #fff;
                transition: all 0.4s ease-out 0s;
              }
            }
            .dropDownList {
              position: absolute;
    width: 170px;
    background: $light-orange;
    left: 0;
    top: 55px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
    padding: 17px 0;
    transition: all 0.4s ease-out 0s;
    .dropItem{
      a{
        padding: 6px 10px;
    color: #fff;
    transition: all 0.4s ease-out 0s;
    &::after{
      display: none;
    }
    &:hover{
      transform: translateX(5px);
    }
      }
    }

            }
            &:hover{
              .dropDownList{
visibility: visible;
opacity: 1;
              }
            }
            &:hover {
              a {
                &::after {
                  left: 0;
                  right: auto;
                  width: 100%;
                }
              }
            }
          }
        }
        .headerBtn {
          padding: 29px 43px;
          background: $light-orange;
          color: #fff;
          font-size: 18px;
          position: relative;
          right: -12px;
          top: 0;
        }
      }
      i {
        display: none;
        color: #fff;
      }
    }
  }
}

@media (max-width: 992px) {
  header {
    .headerTop{
        display: none;
    }
    .headerBottom {
      padding: 20px 0;
      .row {
        .navBar {
          display: none;
        }
        i{
          display: block;
        }
      }
    }
  }
}
